.video-detail {
    margin-top: 10px;
    .details {
        margin: 20px;
        border: 1px solid #DDD;
        padding: 10px;
        h3 {
            font-size: 20px;
        }
        p {
            opacity: 0.7;
            font-size: 14px;
        }
    }
}
