ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}

.yt-search-app {
    width: 100%;
    margin: 50px auto;

    h1 {
        text-align: center;
    }

    .videos-wrapper {
        width: 100%;
        display: flex;
        margin: 20px;
        flex-flow: row wrap;
    }
}
